{% extends 'archive/base.html' %}
{% block content %}
<header class="main"><h1>Acknowledgements</h1></header>
<p>Thanks to everyone who has supported this project in any way shape or form, especially:</p>
<p>
    <strong>Louis R.</strong> for contributing several issues of Extreme RC Cars Magazine<br>
    <strong>Matthew F.</strong> for helping with server costs<br>
    <strong>Lloyd F.</strong> for donating numerous issues of RC Model Cars Magazine<br>
    <strong>Travis J.</strong> for sourcing some missing Competition Plus scans
</p>
<p>Without your contributions, this would not be possible.</p>
{% endblock %}
